@font-face {
  font-family: "DVOTSurekh";
  src: url("../../public/fonts/DVOTSurekh_B_Ship.ttf") format("truetype");
}

.marathi-pdf {
  font-family: "DVOTSurekh";
  font-size: 16px;
  line-height: 1.8;
}
